{% extends 'webapp/base1.html' %}

{% block content %}
    
    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> Let's Manage the Schedulers here ....  </h3>

            <br>

            <h5> Keep track of your records effectively! </h5>

            <hr>
            <br>

            <a class="btn btn-primary" type="button" href="{% url 'my-login' %}" style="background-color: rgb(27, 240, 19); border-radius: 20px; width: 200px; border: 0;"> login &nbsp; &nbsp; <i class="fa fa-key" aria-hidden="true"></i> </a>

        </div>

    </body>        


{% endblock %}